.twitter-background {
    background-color: #e2e2e2;
    position: relative;
    height: 100vh;
    width: 100vw;
    background-size: cover;
}

.insert-tweet {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
    resize: none;
}

.type-visualization-public,
.twitter-icons,
.tweet-user {
    font-size: 11px;
}

.tweet-name {
    font-size: 13px;
}

.tweet-name,
.tweet-user {
    margin-right: 0.25rem;
    border: 0;
}

.material-symbols-outlined {
    cursor: pointer;
    font-weight: 250;
}

.type-visualization,
.twitter-color {
    color: #00ACEE;
}

.tweet-button {
    background-color: #00ACEE;
    color: #ffffff;
    border-radius: 30px;
    font-size: .75rem;
}

.divider-line {
    opacity: 0.18;
}

.dropdown-toggle::after {
    display: none;
    box-shadow: 0 0 0 0;
}

.delete-button {
    color: red;
    cursor: pointer;
}

.modal-content {
    width: 80%;
    vertical-align: middle;
}

.text-length {
    font-size: 1rem;
    color: #000000;
    margin: 0;
}

.photo {
    border-radius: 40px;
}

.button-delete {
    width: 14rem;
    font-weight: bold;
    border-radius: 21px;
    border-color: lightgray;
}