<div class="p-3 twitter-background">
    <div class="container">
        <section>
            <div class="card mb-3">
                <div class="card-header d-flex justify-content-between">

                    <h5>Página Inicial</h5>

                    <span class="material-symbols-outlined">
                auto_awesome
                </span>
                </div>

                <div class="card-body d-flex justify-content-between pb-0">
                    <div class="col-2 m-2">
                        <img class="photo" height="80" width="80" src="{{data?.photo}}">
                    </div>
                    <div class="col-10">
                        <form [formGroup]="form" (ngSubmit)="tweetPost()">

                            <div class="form-group col-12 me-2">
                                <textarea type="text" [(ngModel)]="form.tweet" formControlName="tweet" class="form-control insert-tweet p-0" rows="1" placeholder="O que está acontecendo?" rows="3" maxlength="130" autofocus></textarea>
                            </div>

                            <div class="d-flex type-visualization">
                                <div class="me-1">
                                    <span class="material-symbols-outlined" style="font-size: 15px;">
                              public
                            </span>
                                </div>
                                <p class="type-visualization-public fw-bold"> Qualquer pessoa pode responder</p>
                            </div>
                            <hr class="divider-line m-3">
                            <div class="d-flex justify-content-between twitter-color twitter-icons align-items-center p-3 pt-0">
                                <div>

                                    <span class="material-symbols-outlined init-icons me-2">
                              image
                            </span>

                                    <span class="material-symbols-outlined me-2">
                              gif_box
                            </span>
                                    <span class="material-symbols-outlined me-2">
                              align_horizontal_left
                            </span>
                                    <span class="material-symbols-outlined me-2">
                              sentiment_satisfied
                            </span>
                                    <span class="material-symbols-outlined">
                              event
                            </span>
                                </div>
                                <div class="twitter-color d-flex justify-content-between align-items-center">
                                    <p class="text-length pe-3">{{130 - form?.tweet?.length}}</p>
                                    <p class="text-length pe-3"> | </p>
                                    <button type="submit " class="btn tweet-button fw-bold ">Tweetar</button>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>

            </div>
        </section>


        <section>
            <div class="card mb-3" *ngIf="tweets.length>= 0">
                <div class="card-body pe-0 mb-2" *ngFor="let tweet of tweets;">
                    <div class="list-group">
                        <div class="d-flex justify-content-between align-items-start">
                            <div class="col-2 m-2">
                                <img class="photo" height="80" width="80" src="{{data?.photo}}">
                            </div>
                            <div class="col-9">
                                <div class="list-group-item border-0 p-0" aria-current="true">
                                    <div class="w-100 d-flex justify-content-between mb-0">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <p class="tweet-name fw-bold">{{data?.name}}</p>
                                            <p class="tweet-user text-muted">{{data?.adress}}</p>
                                            <p class="tweet-user text-muted">- Agora</p>
                                        </div>
                                    </div>

                                    <div class="mb-4">
                                        <p class="tweet-name">{{tweet?.tweet}}</p>
                                    </div>


                                    <div #lineIcons class="d-flex justify-content-between twitter-icons col-11">
                                        <span class="material-symbols-outlined">
                                        chat_bubble
                                        </span>
                                        <span class="material-symbols-outlined me-2">
                                    cached
                                  </span>
                                        <span class="material-symbols-outlined">
                                    favorite
                                    </span>
                                        <span class="material-symbols-outlined">
                                      ios_share
                                      </span>
                                        <span class="material-symbols-outlined">
                                        equalizer
                                        </span>

                                    </div>


                                </div>
                            </div>


                            <div class="dropdown">
                                <button class="btn dropdown-toggle p-0 me-3" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                <span class="material-symbols-outlined">
                                  more_horiz
                                </span>
                          </button>
                                <ul class="dropdown-menu pb-0" aria-labelledby="dropdownMenuButton1">
                                    <li>
                                        <a class="dropdown-item pb-0" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                            <div class="d-flex delete-button">
                                                <span class="material-symbols-outlined pe-2">
                                                  delete
                                                </span>
                                                <p>
                                                    Delete
                                                </p>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div>

                    <!-- modal -->
                    <div>
                        <div class="modal fade" id="exampleModal" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content p-4">
                                    <div class="modal-header border-0">
                                        <h5 class="modal-title p-0" id="exampleModalLabel">Delete Tweet?</h5>
                                    </div>
                                    <div class="modal-body">
                                        This can’t be undone and it will be removed from your profile, the timeline of any accounts that follow you, and from Twitter search results.
                                    </div>
                                    <div class="modal-footer border-0 d-grid justify-content-center">
                                        <button (click)="deleteItem(tweet)" type="button" class="btn btn-danger button-delete" data-bs-dismiss="modal">Delete</button>
                                        <button type="button" class="btn button-delete" data-bs-dismiss="modal">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>